<div *ngIf="isEdit; else elseBlock">
    <div class="pl-3 title">
        <b>{{projectMaitenace.MaintenanceName}}</b>
    </div>
    <ul class="nav nav-tabs nav-sm ">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['basic']" routerLinkActive="active">Basic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['member']" routerLinkActive="active">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['attachfile']" routerLinkActive="active">Attachment Files</a>
      </li>
    </ul>
</div>
<ng-template  #elseBlock><div class="pl-3 title">CREATE PROJECT MAINTENACE</div></ng-template>
<div class="mt-2"></div>
<router-outlet></router-outlet>