@media (max-width: 1200px) { 
    .w-sm-45{
        width: 45%
    }

    .chart-line{
        height:  400px;
    }
    .chart-pie{
        height: 400px;
    }
}
@media (min-width: 1200px) { 
    .w-lg-25{
        width: 25%
    }

    .chart-line{
        height:  calc(100% - 90px);
    }
    .chart-pie{
        height: 45%;
    }
}