<form class="form-inline ml-3 mb-0" style="min-height: 10%">
    <div class="row col-12">
        <div class="form-group">
            <label style="width: 80px;">Report By:</label>
            <mat-radio-group class="radio" [(ngModel)]="reportByValue" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button *ngFor="let item of reportBy" [value]="item.value">
                        <span>{{item.text}}</span>
                    </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-group pl-4">
            <mat-form-field *ngIf="reportByValue == 'm'" class="w-sm-45">
                <input [formControl]="reportMonthFrom" matInput [matDatepicker]="reportDatePicker" placeholder="Month from">
                <mat-datepicker-toggle matSuffix [for]="reportDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #reportDatePicker startView="multi-year" previousEnabled="false" class="monthOnly" panelClass="monthOnly"
                (yearSelected)="chosenYearHandler($event, reportMonthFrom)"
                (monthSelected)="chosenMonthHandler($event, reportDatePicker, reportMonthFrom)" ></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="reportByValue == 'm'" class="ml-1 w-sm-45">
                <input [formControl]="reportMonthTo" matInput [matDatepicker]="reportDatePicker2" placeholder="Month to">
                <mat-datepicker-toggle matSuffix [for]="reportDatePicker2"></mat-datepicker-toggle>
                <mat-datepicker #reportDatePicker2 startView="multi-year" previousEnabled="false" class="monthOnly" panelClass="monthOnly"
                (yearSelected)="chosenYearHandler($event, reportMonthTo)"
                (monthSelected)="chosenMonthHandler($event, reportDatePicker2, reportMonthTo)" ></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="reportByValue == 'y'" class="w-50">
                <input [formControl]="reportYear" matInput placeholder="Choose a year">
            </mat-form-field>
      </div>
      <div class="form-group pl-4">
          <button type="submit" class="btn btn-outline-primary ml-2" (click)="loadDataFromService()">Report</button>
      </div>
      <div class="form-group pl-4 align-self-end">
          <mat-form-field class="w-sm-45 w-lg-25 text-right">
              <input [formControl]="rateUSD" matInput placeholder="USD rate" mask="comma_separator">
          </mat-form-field>
          <mat-form-field class="ml-1 w-sm-45 w-lg-25 text-right">
              <input [formControl]="rateJPY" matInput placeholder="JPY rate" mask="comma_separator">
          </mat-form-field>
      </div>
    </div>
</form>
<div style="clear: both"></div>
<div class="row col-12" style="min-height: 90%;" *ngIf="pieChartLabels.length > 0">
<div class="col-12 col-lg-5">
    <div style="display: block; " class="col-12 chart-pie">
      <canvas baseChart 
        [data]="pie1Series"
        [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [chartType]="pieChartType"
          [colors]="pieChartColors">
      </canvas>
    </div>
    <div style="display: block; " class="col-12 mt-2 chart-pie">
      <canvas baseChart 
        [data]="pie2Series"
        [labels]="pieChartLabels"
        [options]="pie2ChartOptions"
        [chartType]="pieChartType"
        [colors]="pieChartColors"
        [legend]="">
      </canvas>
    </div>
</div>
<div class="col-12 col-lg-6" *ngIf="barChartLabels.length > 0">
    <div style="display: block; "  class="chart-line">
    <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>
</div>
</div>
  