<div *ngIf="idProject">
  <div class="pl-3 title">
    <b>{{projects.ProjectName }} <span *ngIf="projects.CustName">ー</span>{{projects.CustName}}</b>
    {{ selectedName }}
    <br/>
    <div class="date">
      {{projects.StartDate | date:'yyyy/MM/dd'}} <span *ngIf="projects.EndDate">～</span> {{projects.EndDate | date:'yyyy/MM/dd'}}
    </div>
  </div>
  <ul class="nav nav-tabs" >
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['basic']" routerLinkActive="active">Basic</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['member']" routerLinkActive="active">Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['attachfile']" routerLinkActive="active">Attachment Files</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['maintenance']" routerLinkActive="active">Maintenance</a>
    </li>
  </ul>
</div>
<div class="mt-2"></div>
<router-outlet ></router-outlet>