@import "../../_shared/css/mattable.scss";

.mat-table {
    overflow: auto;
    max-height: calc(100vh - 300px);
  }
  element-row {
    position: relative;
  }
  
  .element-row {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: #e4e3e3;
  }

  .mat-column-ProjectName {
    flex: 0 0 25%;
  }
  .mat-column-CustName {
    flex: 0 0 15%;
  }
  .mat-column-ProjectDate {
    flex: 0 0 12%;
  }
  .mat-column-ProjectEstimateCost {
    flex: 0 0 8%;
  }
  .mat-column-ProjectDeliveryDate, .mat-column-ProjectPaymentDate {
    flex: 0 0 8%;
  }
  .mat-column-ProjectStatus {
    flex: 0 0 8%;
  }

  .mat-header-row.detailHeader .mat-header-cell {
      background-color: #defffb;
      color: #505050;
  }

  .mat-list-option.mat-list-option-small{
    height: 29px;
  }
  .mat-list-option.mat-list-option-small .badge{
    line-height: 0.8em !important;
    font-size: 0.8em !important;
  }