<form class="form-inline ml-3">
    <div class="row col-12">
            <div class="form-group">
            <label style="width: 100px;">Report By:</label>
            <mat-radio-group class="radio" [(ngModel)]="reportByValue" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button *ngFor="let item of reportBy" [value]="item.value">
                        <span>{{item.text}}</span>
                    </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-group pl-4">
                <mat-form-field *ngIf="reportByValue == 'm'">
                <input [formControl]="reportMonth" matInput [matDatepicker]="reportDatePicker" placeholder="Choose a month">
                <mat-datepicker-toggle matSuffix [for]="reportDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #reportDatePicker startView="multi-year" previousEnabled="false" class="monthOnly" panelClass="monthOnly"
                (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, reportDatePicker)" ></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="reportByValue == 'y'">
                <input [formControl]="reportYear" matInput placeholder="Choose a year">
            </mat-form-field>
        </div>
    </div>
    <div class="form-group col-12">
            <label style="width: 100px;">Status:</label>
            <mat-selection-list class="col-10 p-0" [(ngModel)]="reportStatusValue" [ngModelOptions]="{standalone: true}">
                <mat-list-option class="col-12 col-md-4 col-lg-2 float-left mat-list-option-small" checkboxPosition="before" *ngFor="let item of projectStatus" [value]="item.Id">
                        <div style="font-size: 100%" class="badge py-2" [ngStyle]="convertStyleObject(item.StyleCss)" >{{item.ProjectStatusName}}</div>
                </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="ml-2 mt-3">
        <button type="submit" class="btn btn-outline-primary ml-2" (click)="loadProject()">Report</button>
    </div>
</form>

<div class="mr-3 mb-2" *ngIf="isReported">
<div class="p-3 mat-elevation-z8" *ngIf="isReported" style="background: white">
    <mat-table [dataSource]="dataSource" matSort matSortActive="ProjectStartDate" matSortDirection="desc" matSortDisableClear class='text-small'>

    <ng-container matColumnDef="ProjectName">
    <mat-header-cell *matHeaderCellDef> ProjectName </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="ProjectName"> {{row.ProjectName}} </mat-cell>
        </ng-container>

    <ng-container matColumnDef="CustName">
            <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="CustName"> {{row.CustName}} </mat-cell>
            </ng-container>
            
    <ng-container matColumnDef="ProjectDate">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ProjectDate"> {{row.ProjectStartDate | date: "yyyy/MM/dd" }} ~  {{row.ProjectEndDate | date: "yyyy/MM/dd" }} </mat-cell>
        </ng-container>
        
    <ng-container matColumnDef="ProjectEstimateCost">
            <mat-header-cell *matHeaderCellDef> Estimate Cost </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ProjectEstimateCost"> 
                    <span class="w-100 text-right" *ngIf="row.ProjectCurrencySymboy == 'đ'">{{row.ProjectEstimateCost | number}}{{row.ProjectCurrencySymboy}} </span>
                    <span class="w-100 text-right" *ngIf="row.ProjectCurrencySymboy != 'đ'">{{row.ProjectCurrencySymboy}}{{row.ProjectEstimateCost | number}} </span>
            </mat-cell>
        </ng-container>
            
    <ng-container matColumnDef="ProjectDeliveryDate">
            <mat-header-cell *matHeaderCellDef> Delivery Date </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ProjectDeliveryDate"> {{row.ProjectDeliveryDate | date: "yyyy/MM/dd" }}</mat-cell>
        </ng-container>

    <ng-container matColumnDef="ProjectPaymentDate">
            <mat-header-cell *matHeaderCellDef> Payment </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ProjectPaymentDate"> {{row.ProjectPaymentDate | date: "yyyy/MM/dd" }}</mat-cell>
        </ng-container>
            
    <ng-container matColumnDef="ProjectStatus">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ProjectStatus"><div style="font-size: 100%" class="badge" [ngStyle]="convertStyleObject(row.ProjectStatusStyle)" >{{row.ProjectStatus}}</div></mat-cell>
        </ng-container>
        
    <ng-container matColumnDef="ProjectTotalEstimateCost">
            <mat-header-cell *matHeaderCellDef> Total Cost </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ProjectTotalEstimateCost"> 
                <span class="w-100 text-right" *ngIf="row.ProjectCurrencySymboy == 'đ'">{{row.ProjectTotalEstimateCost | number}}{{row.ProjectCurrencySymboy}} </span>
                <span class="w-100 text-right" *ngIf="row.ProjectCurrencySymboy != 'đ'">{{row.ProjectCurrencySymboy}}{{row.ProjectTotalEstimateCost | number}} </span>
            </mat-cell>
                </ng-container>

    <ng-container matColumnDef="detailExpand">
    <mat-header-cell *matHeaderCellDef> detailExpand </mat-header-cell>
    <mat-cell *matCellDef="let detail" data-label="Details" style="display: block"> 
    <div class="row col-12 font-weight-bold">Decription:</div>
    <div class="row col-xl-12">
        {{detail.element.ProjectDecription}} 
    </div>
    <div *ngIf="detail.element.ProjectLeader || detail.element.ProjectCoder || detail.element.ProjectTester" class="row col-12 font-weight-bold pt-2">Member:</div>
    <div class="row col-xl-12">
        <div class='col-12' *ngIf="detail.element.ProjectLeader">Leader: {{detail.element.ProjectLeader}}</div>
        <div class='col-12' *ngIf="detail.element.ProjectCoder">Coder: {{detail.element.ProjectCoder}}</div>
        <div class='col-12' *ngIf="detail.element.ProjectTester">Tester: {{detail.element.ProjectTester}}</div>
    </div>
    <div class="row col-12 font-weight-bold pt-2" *ngIf="detail.element.ProjectMaintenanceReports && detail.element.ProjectMaintenanceReports.length !== 0">Maintenances:</div>
    <div class="row col-12 pb-2" *ngIf="detail.element.ProjectMaintenanceReports && detail.element.ProjectMaintenanceReports.length !== 0">
    <mat-table [dataSource]="detail.element.ProjectMaintenanceReports" matSortDisableClear class='text-small col-12'>

            <ng-container matColumnDef="MaintenanceName">
                    <mat-header-cell *matHeaderCellDef> Maintenance Name </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Maintenance Name">{{row.MaintenanceName}}</mat-cell>
                </ng-container>
            <ng-container matColumnDef="MaintenanceStatus">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="MaintenanceStatus"><div style="font-size: 100%" class="badge" [ngStyle]="convertStyleObject(row.MaintenanceStatusStyle)" >{{row.MaintenanceStatus}}</div></mat-cell>
                </ng-container>
                    <ng-container matColumnDef="MaintenanceDate">
                    <mat-header-cell *matHeaderCellDef> Maintenance Date </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Maintenance Date"> {{row.MaintenanceStartDate | date: "yyyy/MM/dd" }} ~  {{row.MaintenanceEndDate | date: "yyyy/MM/dd" }} </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="MaintenanceDeliveryDate">
                            <mat-header-cell *matHeaderCellDef> Delivery Date </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="Maintenance Delivery Date"> {{row.MaintenanceDeliveryDate | date: "yyyy/MM/dd" }}</mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>      
                        </ng-container>
                
                    <ng-container matColumnDef="MaintenancePaymentDate">
                            <mat-header-cell *matHeaderCellDef> Payment Date </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="ProjectPaymentDate"> {{row.MaintenancePaymentDate | date: "yyyy/MM/dd" }}</mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>      
                        </ng-container>
                        
                    <ng-container matColumnDef="MaintenanceEstimateCost">
                        <mat-header-cell *matHeaderCellDef> Estimate Cost </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="MaintenanceEstimateCost">
                                <span class="w-100 text-right" *ngIf="row.ProjectCurrencySymboy == 'đ'">{{row.MaintenanceEstimateCost | number}}{{row.ProjectCurrencySymboy}} </span>
                                <span class="w-100 text-right" *ngIf="row.ProjectCurrencySymboy != 'đ'">{{row.ProjectCurrencySymboy}}{{row.MaintenanceEstimateCost | number}} </span>
                            </mat-cell>
                                <mat-footer-cell *matFooterCellDef></mat-footer-cell>      
                    </ng-container>
                
                    <mat-header-row class="detailHeader" *matHeaderRowDef="['MaintenanceName', 'MaintenanceDate', 'MaintenanceDeliveryDate', 'MaintenanceDeliveryDate', 'MaintenancePaymentDate', 'MaintenanceEstimateCost', 'MaintenanceStatus']"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ['MaintenanceName', 'MaintenanceDate', 'MaintenanceDeliveryDate', 'MaintenanceDeliveryDate', 'MaintenancePaymentDate', 'MaintenanceEstimateCost', 'MaintenanceStatus'];"
                                            class="element-row"></mat-row>
                            
                </mat-table>
                <div class="text-center text-danger pt-1 col-12" *ngIf="detail.element.ProjectMaintenanceReports && detail.element.ProjectMaintenanceReports.length === 0">No records found</div>
            </div>
            </mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
            class="element-row" 
            [class.expanded]="expandedElement == row"
            (click)="expandedElement && expandedElement == row ? expandedElement = null : expandedElement = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['detailExpand']; when: isExpansionDetailRow"
            [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
            style="overflow: hidden;"></mat-row>
            
</mat-table>
        <div class="text-center text-danger pt-1" *ngIf="dataSource && dataSource.data.length === 0">No records found</div>
</div>
</div>